body {
  text-align: center;
   background: linear-gradient(90deg, rgba(252,167,67,1) 0%, rgba(253,29,29,1) 25%, rgba(253,62,38,1) 68%, rgba(252,176,69,1) 100%);
  color: #fff;
}

h1 {
  font-family: Monoton;
  font-size: 2rem;
  margin: 0.2em;
}

h2 {
  margin: 1em 0 0.25em;
}

h2:first-of-type {
  margin-top: 0.5em;
}

table,
tr,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  background: #fff;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

input[type="number"] {
  width: 6em;
}

/* Style the inputs */
input {
  border-radius: 4px;
  border: 1px solid white;
  padding: 0.5rem 1rem;
}

input:focus {
  border: 1px blue solid;
}

input[type="color"] {
  padding: 0 0.5rem;
}

input[type="submit"] {
  cursor: pointer;
  background: rgb(0, 255, 0);
}